extends ./../layouts/main

block variables
  - const title = "pure-gulp"

block Header
  include ../components/TheHeader
block Footer
  include ../components/TheFooter

block Content
  include ../components/Blocks/BlockFirst
  include ../components/Blocks/BlockSecond
