section(class="block-second" id="block-second")
  div(class="block-second__inner inner")

    div(class="block-second__body")
      div(class="block-second__item-container")
        div(class="block-second__item-block")
      div(class="block-second__item-container")
        div(class="block-second__item-block")
      div(class="block-second__item-container")
        div(class="block-second__item-block")
      div(class="block-second__item-container")
        div(class="block-second__item-block")
