section(class="block-first" id="block-first")
  div(class="block-first__inner inner")

    div(class="block-first__body")
      div(class="block-first__item")
      div(class="block-first__item")
      div(class="block-first__item")
      div(class="block-first__item")
      div(class="block-first__item")
