header(class="header" id="header")
  div(class="header__inner inner")
    nav(class="navbar")
      +UI-Button({ class: "navbar__button", value: "Open pop-up button", href: "#popup" })
      +UI-Popup({ value: "Pop-up" })
